.history-tab {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0 40px;
}

.no_generated {
  color: #fff;
}

/* Мобильные 480px - 767px */
@media screen and (max-width: 767px) {
  .history-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 8px;
  }
}
