.setup-main {
  flex: 1;
  padding: 40px 0px;
  color: #fff;
  margin: 0 auto;
    z-index: 1;
 
}


.setup-main::before {
  content: "";
  position: absolute;
  top: 100px;
  left: -200px;
  width: 707px;
  height: 707px;
  background: linear-gradient(150deg, #9B0079 0%, #2370CA 100%);
  border-radius: 50%;
  opacity: 0.4;
  filter: blur(100px);
  z-index: 0; 
}
.setup-main-section{
    display: flex;
    flex-direction: column;
    background-color: rgba(2, 1, 4, 0.5);
    padding: 24px;
    border-radius: 32px;
    max-width: 700px;
         border: solid 1px rgba(241, 242, 249, 0.1);
}


.setup-template-info {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.setup-template-info h2 {
    font-size: 32px;
    color: #fff;
    margin: 20px 0px 12px 0px
}
.setup-template-info p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 32px;
    color: rgba(255, 255, 255, 0.7);
}
.setup-template-image {
  width: 700px;
  height: auto;
  border-radius: 30px;
}


.setup-textarea label {
  display: block;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 400;
}

.setup-textarea textarea {
  width: 664px;
  height: 300px;
  padding: 14px 18px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: #29243C;
  color: #fff;
  resize: none; 
  margin-bottom: 30px;
}

.slider {
  position: relative;
  width: 700px;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 20px;
}

.slide {
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: opacity 0.6s ease;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.4);
  border: none;
  color: rgb(47, 47, 47);
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.slider-btn:hover {
  background: rgba(255, 255, 255, 0.6);
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}



button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.generated-slides {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.slide-card {
  background-color: rgba(2, 1, 4, 0.7);
  padding: 12px;
  border-radius: 12px;
    border: 1px solid rgba(241, 242, 249, 0.1);
}

.slide-card-h3{
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.slide-card-h4{
  font-size: 14px;
  color: #A5A5A5;
  margin: 0;
  margin: 6px 0px;
}


.slide-card p {
  font-size: 14px;
  color: #3C3C3C;
  margin: 0;
}

.slide-card {
  transition: transform 0.15s ease, opacity 0.15s ease, border 0.15s ease;
  cursor: grab;
}

.slide-card:active {
  cursor: grabbing;
}

.slide-card.dragging {
  opacity: 0.4;
  border: 1px dashed rgba(241, 242, 249, 0.7);
  transform: scale(0.98);
}

  .setup-input label{
  display: block;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 400;
 }
 .setup-input input{
  width: 664px;
    padding: 14px 18px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: #29243C;
    color: #fff;
 }

 .setup-input {
  margin-bottom: 24px;
}


.setup-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.setup-buttons button {
  background: linear-gradient(90deg, #2D1140 6%, #9F2EFD 68%);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.back-btn {
  background: rgba(255, 255, 255, 1) !important;
    color: #000 !important ;
}

.loader-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 32px; 
}

.back-btn-err{
   background: linear-gradient(90deg, #2D1140 6%, #9F2EFD 68%);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 24px;
  width: 628px;
}

.error-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  width: 700px;

}
.error-screen h3{
  font-size: 24px;
  color: #fff;
  margin: 0;
    margin-bottom: 24px;
}
.error-screen h4{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  margin-bottom: 100px;

}
.error-screen img{
  width: 240px;
  margin-bottom: 32px;
  margin-top: 95px;
}

.download-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.download-screen h2 {
  font-size:24px;
  color: #fff;
  margin: 0;
  margin-bottom: 32px;
  margin-top: 16px;
}
.download-screen img {
width: 272px;
margin-bottom: 24px;
}
.download-btn {
  background: linear-gradient(90deg, #2D1140 6%, #9F2EFD 68%);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 628px;
  margin-bottom: 12px;
}

.download-btn:hover {
  filter: brightness(1.1);
  transform: translateY(-1px);
}

.back-btn-download{
  background: transparent;
  border: none;
  color: #C8C8C8;
  font-size: 16px;
  cursor: pointer;
  width: 600px;
  margin: 0;
  margin-bottom: 24px;
}



.ph-wrapper {
  position: relative; 
  width: 100%;
}


.setup-step{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.step_number{
  display: flex;
  width: 31px;
  height: 31px;
  border: solid 1px #fff;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.step_number p{
font-size: 14px;
font-weight: 600;
}

.setup-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  font-size: 14px;
  color: #BEB9C3;
  gap: 20px
}
.setup-steps-hr{
    background-color: rgba(255, 255, 255, 0.5);
    width: 700px;
    height: 1px;
    border: none;
    margin-bottom: 20px;
}

.setup-steps .active-step {
  color: #fff;
  font-weight: 600;
}

.step_number {
  display: flex;
  width: 31px;
  height: 31px;
  border: solid 1px #fff;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.step_number p{
font-size: 14px;
font-weight: 600;
}

.step_number-active{
display: flex;
  width: 31px;
  height: 31px;
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.step_number-active p{
font-size: 14px;
font-weight: 600;
color: #000;
}

.setup-steps img{
  width: 20px;
  height: 20px;
}

.img_search{
  margin-bottom: 12px !important;
}
.img_search-label{
    margin-bottom: 16px !important;
}

.dragh4{
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
.SETUP-template-info{
  align-self: start;
}